.footer {
  font-family: Lato, sans-serif;
  background-color: $color-primary;
  padding: 0 20px;

  .center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;

    .navbar-container {
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
    }

    .social-icons {
      display: flex;
      flex-direction: row !important;
      gap:10px;
      a {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        border-radius: 50%;
        transition: background 0.3s ease, color 0.3s ease;
        background: linear-gradient(45deg, rgba(243, 244, 246, 0.7), rgba(221, 223, 228, 0.7), rgba(196, 200, 207, 0.7), rgba(164, 169, 178, 0.7), rgba(134, 140, 152, 0.7), rgba(103, 110, 121, 0.7));
        color: white;
        padding: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        &:hover{
          transform: scale(1.1);
          background: linear-gradient(45deg, rgba(164, 169, 178, 0.7), rgba(243, 244, 246, 0.7), rgba(221, 223, 228, 0.7), rgba(196, 200, 207, 0.7), rgba(134, 140, 152, 0.7), rgba(103, 110, 121, 0.7));

        }
      }
    }

    .footer-divider {
      width: 800px;
      height: 2px;
      display: inline-block;
      background: #ddd;



    }

    .rights-reserved{
      color:$color-secondary;
      padding-bottom: 20px;
    }
  }


}

@media (max-width: 878px) {
  .footer-divider {
    max-width: 500px !important;
  }
}

@media (max-width: 576px) {
  .footer-divider {
    max-width: 400px !important;
  }

  .contact-info{
    flex-direction: column;
    gap:10px;
  }
}

