// colors
$color-white: #ffffff;
$color-black: #22272f;

$color-primary: #1E1E1E;
$color-secondary: #959595;
$color-tertiary: #f43f5e;

$color-primary-light: #707070;
$color-primary-light-2: #959595;

$pink-500: #f43f5e;
$pink-400: #fb7185;
$pink-300: #fda4af;
$pink-200: #fecdd3;
$pink-100: #ffe4e6;
$pink-50: #fff1f2;

$gradient-start: #f43f5e;
$gradient-mid: #fb7185;
$gradient-end: #fda4af;

$gray-light: #f3f4f6;
$gray-light-2: #dddfe4;
$gray-light-3: #c4c8cf;
$gray-normal: #a4a9b2;
$gray-dark: #868c98;
$gray-dark-2: #676e79;

$red-light: #ffe4e6;
$red-light-2: #e11d48;
$red-normal: #be123c;
$red-dark: #9f1239;

$green: #059669;
$orange: #d97706;
